<div class="d-flex justify-content-center align-items-center" height="500px">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @restaurant.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.address %><%= @restaurant.category %></h6>
      <% @restaurant.reviews.each do |review|  %>
      <p class="card-text"><%= review.content %> - <%= review.rating %></p>
      <%end %>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
